#console {

    background-color: darken(white, 5%);

    height: 100%;
    overflow-y: auto;

    ul {

        list-style-type: none;

        li {

            padding: 4px 2px;

            &:first-child {

              /*
              border-bottom: 1px solid #aeaeae;
              background-color: white;

              &:before {

                content: '> ';

              }
              */

            }

            span.number {

              color: blue;

            }

            span.string {

              color: red;

            }

            span.function {

              color: purple;

            }

        }

    }

}
