#console {

    height: 100%;

    ul {

        list-style-type: none;

        li {

            border-bottom: 1px solid #aeaeae;
            padding: 4px 2px;

            span.number {

              color: blue;

            }

            span.string {

              color: red;

            }

            span.function {

              color: purple;

            }

        }

    }

}
