.expand {

    button.trigger {

        border: none;
        font-weight: bold;
        color: darkgreen;
        background-color: inherit;

        width: 20px;
        height: 18px;

        padding: 1px 2.5px;
  
    }

    ul.content {

        li {

            border-bottom: none !important;

        }

        li:hover {

          background-color: #e9e9e9 !important;

        }

        li:nth-child(n) {

            background-color: white;

        }

        li:nth-child(n+1) {

            background-color: #efefef;

        }

    }

}

