
@import "editor";
@import "console";
@import "expand";

html {

  height: 100%;

}

body {

  margin: 0;

}

/*
.brand {

    height: 100%;

    background-color: slategrey;

    color: white;
    text-shadow: 1px 1px 1px black;

    span {

        font-weight: bold;

    }

}

.panels {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    div.panel {

      position: relative;

       height: 100%;

    }

}
*/

$header-bg: #333;
$header-color: #ccc;
$header-h: 40px;
$header-vert-padding: 0px;

$active-color: #030038;

@mixin ui-border {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ccc;
}

/* reset margins, etc */

header h1,
ul {
    margin: 0;
    padding: 0;
}

header {

  position: fixed;
  left: 0;
  right: 0;

  height: $header-h;

  background-color: $header-bg;
  color: $header-color;

  padding: $header-vert-padding;

  h1 {

    font-size: 12pt;
    display: inline-block;

  }

  ul {
    display: inline-block;
    list-style-type: none;

    li {

      display: inline;

    }

  }

  button, button:hover {

    transition: background-color 1s;

  }

  button {

    height: $header-h;
    min-width: ($header-h + 0.4*$header-h);

    background-color: inherit;
    color: white;

    font-weight: bold;
    font-size: 11pt;

    border: none;

    &:hover {
      background-color: darken($header-bg, 2%);
    }

    &:active {

      transition: none;
      background-color: darken($header-bg, 4%);
      box-shadow: 1px 1px 3px rgba(0, 0, 0, .9) inset,
                  -1px -1px 3px rgba(0, 0, 0, .9) inset;

    }

  }

}

#panel-wrapper {

  position: fixed;
  top: ($header-h + 2*$header-vert-padding);
  left: 0;
  right: 0;
  bottom: 0;

  height: auto;
  
}

.panel {

  position: absolute;
  height: auto;

  .tabs {

    padding: 5px;
    text-align: center;

    @include ui-border;

    ul li button {

      border-width: 0 0 2px 0;
      border-style: none;
      border-color: none;

      background-color: inherit;
      color: $active-color;

      font-weight: bold;

      &.active {
        border-bottom-color: $active-color;
        border-bottom-style: solid;
      }

    }

  }


}

.editing {
  right: 50%;
  left: 0;

  border-right: 1px solid #ccc;
}

.output {
  left: 50%;
  right: 0;
}

.editing, .output {
  top: 0;
  bottom: 0;
}

ul.inline, .tabs ul {

  display: inline-block;

  list-style-type: none;

  li {

    display: inline;

  }

}

